.footer__column-links {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
}
